@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
@section styles{
    <style>
        .loginD{
            width:100%;
            height:100vh;
            background-color: #2B3035;
            display:flex;
            justify-content:center;
            align-items:center;
            margin-top: -60px;
        }

            .loginD .containerL {
            background-color: white;
            width:500px;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            padding:40px 30px;
            border-radius:8px;
        }

         .loginD .containerL h2 {
            font-size:25px;
            text-align:left;
            width: 100%;    
            margin-bottom:12px;
                    color: #204D6D;
                    font-weight:900;
        }
         .loginD form{
            width:100%;
        }
        .loginD .inputs{
            display:flex;
            width: 100%;
            flex-direction:column;
        }

            .loginD  span {
            font-size:14px;
            margin-bottom:2px;
            margin-top:5px;
                color: #646464  ;
                font-weight:600;
        }

        .loginD input {
            border:none;
            outline:none;
                background-color: #E5E5E5;
                height:44px;
            width:100%; 
           padding-left:5px;
           border-radius:5px;
           font-weight:600;
        }

        .loginD ion-icon {
            font-size:25px;
        }

        .loginD .check {
            width:12px;
        }
        .loginD .remember{
  
            flex-direction:row;
            align-items:center;
            display:flex;
            gap:5px;
        }

            .loginD .alerta{
                text-decoration:none;
                color:red;
            }
            .loginD button{
                width:100%;
                height:45px;
                font-size:15px;
                font-weight:900;
                border:none;
                border-radius:5px;
                background-color: #204D6D;
                color:white;
                cursor:pointer;
            }

            .loginD button:hover {
                    background-color: #55CABD;
            }
    </style>
}
<div class="loginD">
    <div class="containerL">
        <h2>
            ACCOUNT LOGIN
        </h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" role="alert" class="alerta"></div>
          
            <div class="inputs">
                <span>CORREO</span>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" >

            </div>
              <span class="alerta" asp-validation-for="Input.Email"></span>
            
            <div class="inputs">
                <span>PASSWORD</span>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" >
            </div>
            <span class="alerta" asp-validation-for="Input.Password"></span>
            <label asp-for="Input.RememberMe" class="remember">
                <input class="check" asp-for="Input.RememberMe" />
                <span style="font-size:12px">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </span>
              
            </label>

            <button>Iniciar Sesion</button>
            <a style="text-align:center;width:100%;display:block;padding-top:5px;color:black"
            id="btn-sign" asp-area="Identity" asp-page="/Account/Register">REGISTRO</a>
        </form>
    </div>

</div>

@* 
<div class="row">
    <div class="registro">
        <div class="container">
            <form id="account" method="post">
                <h2>Longin</h2>
                <div asp-validation-summary="ModelOnly" role="alert"></div>
                <span class="alerta" asp-validation-for="Input.Email"></span>
                <div class="inputs">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" placeholder="Correo">

                </div>
                <span class ="alerta" asp-validation-for="Input.Password"></span>
                <div class="inputs">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" placeholder="Contraseña">
                </div>

                <div class="checkbox">
                    <label asp-for="Input.RememberMe" >
                        <input  asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <button>Iniciar Sesion</button>
                <a id="btn-sign" asp-area="Identity" asp-page="/Account/Register">REGISTRO</a>
            </form>
            <div class="parte2">
                <div class="img">
                    <img src="~/img/img-login.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@













@*<div class="registro">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
   <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@