@page
@using Bricons.Utilities;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section styles{
    <style>
        .loginD {
            width: 100%;

            background-color: #2B3035;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top:40px;
            padding-bottom:40px;        }

            .loginD .containerL {
                background-color: white;
                width: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 40px 30px;
                border-radius: 8px;
            }

                .loginD .containerL h2 {
                    font-size: 25px;
                    text-align: left;
                    width: 100%;
                    margin-bottom: 12px;
                    color: #204D6D;
                    font-weight: 900;
                }

            .loginD form {
                width: 100%;
            }

            .loginD .inputs {
                display: flex;
                width: 100%;
                flex-direction: column;
            }

            .loginD span {
                font-size: 14px;
                margin-bottom: 2px;
                margin-top: 5px;
       
                font-weight: 600;
            }

            .loginD input {
                border: none;
                outline: none;
                background-color: #E5E5E5;
                height: 44px;
                width: 100%;
                padding-left: 5px;
                border-radius: 5px;
                font-weight: 600;
            }

            .loginD ion-icon {
                font-size: 25px;
            }

            .loginD .check {
                width: 12px;
            }

            .loginD .remember {
                flex-direction: row;
                align-items: center;
                display: flex;
                gap: 5px;
            }


            .loginD button {
                width: 100%;
                height: 45px;
                font-size: 15px;
                font-weight: 900;
                border: none;
                border-radius: 5px;
                background-color: #204D6D;
                color: white;
                margin-top:13px;
            }

                .loginD button:hover {
                    background-color: #55CABD;
                }

            .loginD .alerta {
                text-decoration: none;
                color: red;
            }
    </style>
}
<div class="loginD">
    <div class="containerL">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Registro</h2>
            <div asp-validation-summary="ModelOnly" role="alert"></div>
            <!-- Resto de tus campos aquí -->
            <div class="inputs nombres">
                <span>Nombre</span>
                <input asp-for="Input.Nombre" autocomplete="Nombre" aria-required="true" type="text">
            </div>
            <span asp-validation-for="Input.Nombre" class="alerta"></span>
            <div class="inputs apellidos" style="display: none;">
                <span>Apellidos</span>
                <input asp-for="Input.Apellidos" autocomplete="Apellidos" aria-required="true" type="text" >
            </div>
            <span asp-validation-for="Input.Apellidos" class="alerta"></span>
            <div class="inputs dni" style="display: none;">
                <span>Dni</span>
                <input asp-for="Input.Dni" autocomplete="Dni" aria-required="true" type="number" >
            </div>
            <span asp-validation-for="Input.Dni" class="alerta"></span>
            <div class="inputs telefono" style="display: none;">
                <span>Teléfono</span>
                <input asp-for="Input.Telefono"  autocomplete="Telefono" aria-required="true" type="number" >
            </div>
            <span asp-validation-for="Input.Telefono" class="alerta"></span>
            <div class="inputs email" style="display: none;">
                <span>Email</span>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" >
            </div>
            <span asp-validation-for="Input.Email" class="alerta"></span>
            <div class="inputs password" style="display: none;">
                <span>Contraseña</span>
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" type="password" >
            </div>
            <span asp-validation-for="Input.Password" class="alerta"></span>
            <div class="inputs confirmPassword" style="display: none;">
                <span>Confirmar Contraseña</span>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" type="password" >
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="alerta"></span>
            <div class="roles" style="display: none;">
                <span>Roles</span>
                <input type="radio" name="radUserRole" value="@CNT.Admin" />@CNT.Admin
                <input type="radio" name="radUserRole" value="@CNT.Usuario" />@CNT.Usuario
            </div>
            <button id="registerSubmit" type="submit">Registrarse</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nombreInput = document.querySelector('input[name="Input.Nombre"]');
        const apellidosInput = document.querySelector('input[name="Input.Apellidos"]');
        const dniInput = document.querySelector('input[name="Input.Dni"]');
        const telefonoInput = document.querySelector('input[name="Input.Telefono"]');
        const emailInput = document.querySelector('input[name="Input.Email"]');
        const passwordInput = document.querySelector('input[name="Input.Password"]');
        const confirmPasswordInput = document.querySelector('input[name="Input.ConfirmPassword"]');

        nombreInput.addEventListener("input", function () {
            if (nombreInput.value.trim() !== "") {
                document.querySelector(".inputs.apellidos").style.display = "block";
            }
        });

        apellidosInput.addEventListener("input", function () {
            if (apellidosInput.value.trim() !== "") {
                document.querySelector(".inputs.dni").style.display = "block";
            }
        });

        dniInput.addEventListener("input", function () {
            if (dniInput.value.trim() !== "") {
                document.querySelector(".inputs.telefono").style.display = "block";
            }
        });

        telefonoInput.addEventListener("input", function () {
            if (telefonoInput.value.trim() !== "") {
                document.querySelector(".inputs.email").style.display = "block";
            }
        });

        emailInput.addEventListener("input", function () {
            if (emailInput.value.trim() !== "") {
                document.querySelector(".inputs.password").style.display = "block";
            }
        });

        passwordInput.addEventListener("input", function () {
            if (passwordInput.value.trim() !== "") {
                document.querySelector(".inputs.confirmPassword").style.display = "block";
            }
        });

        confirmPasswordInput.addEventListener("input", function () {
            if (confirmPasswordInput.value.trim() !== "") {
                document.querySelector(".roles").style.display = "block";
            }
        });
    });
</script>
@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" autocomplete="Nombre" aria-required="true" placeholder="Nombres" />
                <label asp-for="Input.Nombre">Nombres</label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Apellidos" class="form-control" autocomplete="Apellidos" aria-required="true" placeholder="Apellidos" />
                <label asp-for="Input.Apellidos">Apellidos</label>
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Dni" class="form-control" autocomplete="Dni" aria-required="true" placeholder="Dni" />
                <label asp-for="Input.Dni">Dni</label>
                <span asp-validation-for="Input.Dni" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NombreUsuario" class="form-control" autocomplete="NombreUsuario" aria-required="true" placeholder="Nombre de Usuario" />
                <label asp-for="Input.NombreUsuario">Nombre Usuario</label>
                <span asp-validation-for="Input.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-3">Roles</div>
                <div class="col">
                    <input type="radio" name="radUserRole" value="@CNT.Admin" />@CNT.Admin
                    <input type="radio" name="radUserRole" value="@CNT.Usuario" />@CNT.Usuario
                </div>
            </div>




            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
