@model Bricons.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="detalle-producto">
    <img src="@Model.Imagen" alt="">
    <div class="detalle">
        <h2 class="title">@Model.NombreProducto</h2>
        <p class="descripcion">@Model.Descripcion</p>

        @if (Model.CategoriaID == 1)
        {
            <p class="Titulo">Categoría</p>
            <p class="subTitulo">Ladrillos para Muros</p>
        }
        else if (Model.CategoriaID == 2)
        {
            <p class="Titulo">Categoría</p>
            <p class="subTitulo">Ladrillos para Techos</p>
        }
        <p class="Titulo">Peso</p>
        <p class="subTitulo">@Model.Peso Kg</p>
        <p class="Titulo">Dimenciones</p>   
        <p class="subTitulo">@Model.Altura x @Model.Ancho x @Model.Largo cm</p>
        <p class="Titulo">Stock</p>
        <p class="subTitulo">@Model.Stock</p>
        <input class="btn-añadir" type="submit" value="Añadir a carretilla">
    </div>
</div>


@* <h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NombreCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@