                                                                                                   @model IEnumerable<Bricons.Models.Producto> 


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="productos">
    <h1 class="title">LADRILLOS PARA TECHOS</h1>
    <div class="sect-prod">
        <div class="productos" id="contenedor-productos">

            @foreach (var pto in @Model)
            {
                <div class="producto-container">
                    <section class="producto">
                        <div class="p-img">
                            <a asp-action="Details" asp-route-id="@pto.Id">
                                <img src="@pto.Imagen" alt="">
                            </a>

                        </div>
                        <h2 style="font-size:16px">
                            @pto.NombreProducto
                        </h2>
                        <h3 style="color:red; font-size:16px"> S/ @pto.Precio</h3>
                        <p>

                        </p>
                        <input class="btn-aa" id="@pto.Id" type="submit" value="Añadir a carretilla" onclick="clickInputAgregar(this,'@pto.Id')">
                  
                    </section>
                </div>
                <script>
                    btnAdir1 = document.getElementById('@pto.Id');
                    obejtos1 = JSON.parse(localStorage.getItem("ids"));
                    encontrado1 = false;
                    obejtos1.forEach((e) => {
                        if (e.id == @pto.Id) {
                            encontrado1 = true;
                            btnAdir1.value = "A\u00F1adido";
                            btnAdir1.style.backgroundColor = "#5E3327";
                           
                            return;
                        }
                    });
                    if (!encontrado1) {

                        btnAdir1.value = "A\u00F1adir a carretilla";
                        btnAdir1.style.backgroundColor = "#DE001A";
                    }
           
                </script>
            }
        </div>
    </div>
</div>
