@using Bricons.Utilities;
@model Bricons.Models.Usuario;

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/perfil.css">
</head>
<body>
    <div class="contenedor">
        <form class="perfil">
            <img src="~/img/user.png" alt="">
            <div class="datos">
                <div class="inputs">
                    <label>Nombre:</label>
                    <input type="text" value="@Html.DisplayFor(modelItem => Model.Nombre)">
                </div>
                <div class="inputs">
                    <label>Apellidos:</label>
                    <input type="text" value="@Html.DisplayFor(modelItem => Model.Apellidos)">
                </div>
                <div class="inputs">
                    <label>Nombre de Usuario:</label>
                    <input type="text" value="@Html.DisplayFor(modelItem => Model.NombreUsuario)">
                </div>
                <div class="inputs">
                    <label>Email:</label>
                    <input type="text" value=" @Html.DisplayFor(modelItem => Model.Id)">
                </div>
                <div class="inputs">
                    <label>DNI:</label>
                    <input type="text" value="@Html.DisplayFor(modelItem => Model.Dni)">
                </div>
                <div class="inputs">
                    <label>Tipo Cuenta:</label>
                    @if (User.IsInRole(CNT.Admin))
                    {
                        <input type="text" value="Administrador">
                    }else{
                        <input type="text" value="Usuario">
                    }
                   
                </div>
            </div>
            <div class="botones">
                @*<button>Editar</button>
                <button>Guardar</button>*@

            </div>
           
        </form>

    </div>

</body>
</html>


